.about-us-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  text-align: justify;
  color: white;
}

.about-us-heading {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.about-us-description {
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.about-us-content {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
  .about-us-container {
    width: 90%;
    padding: 10px;
  }

  .about-us-description {
    font-size: 16px;
  }

  .about-us-content {
    font-size: 15px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .about-us-container {
    width: 95%;
  }

  .about-us-description {
    font-size: 15px;
  }

  .about-us-content {
    font-size: 14px;
  }
}